@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto+Mono:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
